/* The code on lines 2-4 centers the text of all h1's on the page.*/
h1{
    text-align:center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}

/* The code on lines 14-16 centers the text of all h2's on the page*/
h2{
    text-align:center;
}

/* The code on lines 19-22 aligns all the sections horizontally on the bottom*/
.sectionsContainer{
    display:flex;
    justify-content:space-between;
}

/* The code on lines 25-28 gives  a solid black border to section and puts space between them (the margin) */
.section{
    border: 5px black;
    margin:5px;
  padding: 5px;
}
h1 {text-shadow: 2px 2px #FF0000;}

body {
    font-family: 'Passion One';font-size: 22px;
}
.section1{
  display: flex;
  justify-content: center;
    border: 5px solid black;
  margin: 5px;
  padding: 5px;
  }
}

.topnav {
  background-color: #000000;
backface-visibility: visible;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff0000;
  color: black;
}

.topnav a.active {
  background-color: #3700ff;
  color: black;
 
}
.background{
  background-color: black;
}